
@{
    ViewBag.Title = "Home page";
}




<h3>
    <text> <a href="@Url.RouteUrl("LoginPage")"> Login</a> </text>
</h3>


<text>This is the home page. Which is index. Fun stuff.</text>



@section Testing{

<text> This is just an example of a section.</text>


    }

